aniso8601==8.0.0
attrs==19.3.0
awscli==1.18.126
backcall==0.2.0
bleach==3.3.0
blis==0.4.1
bokeh @ file:///tmp/build/80754af9/bokeh_1593187586470/work
boto==2.49.0
boto3==1.14.30
botocore==1.17.49
Brotli==1.0.7
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
colorama==0.4.3
cycler==0.10.0
cymem==2.0.3
cytoolz==0.10.1
dash==0.21.1
dash-core-components==0.23.0
dash-html-components==0.11.0
dash-renderer==0.13.0
dask==2.21.0
decorator==4.4.2
defusedxml==0.6.0
distributed @ file:///tmp/build/80754af9/distributed_1594350110849/work
docutils==0.15.2
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.5.0
flask-restplus==0.13.0
fsspec==0.7.4
gensim==3.8.3
HeapDict==1.0.1
idna==2.8
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
kiwisolver==1.2.0
locket==0.2.0
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib==3.3.0
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.5
notebook==6.0.3
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1592841632039/work
pandocfilters==1.4.2
parso==0.7.1
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307325547/work
plac==1.1.3
plotly==4.9.0
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyarrow==1.0.0
pyasn1==0.4.8
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
regex==2020.6.8
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.5
s3transfer==0.3.3
scikit-learn==0.22.1
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
smart-open==2.1.0
sortedcontainers==2.2.2
spacy==2.3.2
srsly==1.0.2
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
tweepy==3.8.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
Unidecode==1.1.1
urllib3==1.25.10
wasabi==0.7.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
zict==2.0.0
zipp==3.1.0
